body {
            background-color: #000;
            color: #fff;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        header {
            background-color: #001f3f;
            padding: 20px;
            text-align: center;
        }
        h1, h2 {
            margin: 0;
        }
        p {
            color: #fff; /* Set the text color to white */
        }
        section {
            padding: 20px;
            text-align: center;
        }
        form {
            max-width: 500px;
            margin: auto;
            color: #000; /* Adjust form text color as needed */
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #333;
            border-radius: 5px;
        }
        button {
            background-color: #0074cc;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .thank-you-message {
            display: none;
            color: #4CAF50; /* Green color for the thank you message */
            margin-top: 10px;
        }
        nav {
            text-align: center;
            background-color: #001f3f;
            padding: 10px;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 10px;
            margin: 0 10px;
            font-weight: bold;
            cursor: pointer;
        }
        nav a:hover {
            background-color: #003366; /* Darker shade when hovered */
        }
        .service {
            margin-top: 30px;
            border: 1px solid #333;
            border-radius: 10px;
            padding: 20px;
            background-color: #001020;
        }
        h3 {
            color: #fff; /* White text color for better visibility */
        }
